.banner {
  position: relative;
  height: 100vh;
  height: 100svh;
  color: $white;
  background: center / cover no-repeat
    url("../../../../public/static/assets/images/banner-intro-mobile.jpg");

  .banner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 32px 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__content {
    text-align: left;

    &--title {
      font-family: "Dancing", Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: $font-medium;
      line-height: 36px;
    }

    &--name {
      font-size: 31px;
      font-weight: $font-medium;
      line-height: 40px;
      margin: 20px 0;
    }

    &--date {
      text-transform: uppercase;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-weight: $font-medium;
      line-height: 20px;
      letter-spacing: 2px;
      tab-size: 4;
    }
  }

  &__button {
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $white;
    animation: bounce 1s infinite;

    .icon {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $white;
      -webkit-mask: url("../../../../public/static/assets/icon/down-double.svg")
        no-repeat center;
      mask: url("../../../../public/static/assets/icon/down-double.svg")
        no-repeat center;
    }
  }
}
