.introduction {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__content {
    .logo-bg {
      margin: 0 auto;
      opacity: 0.6;
    }

    .speech {
      font-family: "Nunito", Arial, Helvetica, sans-serif;
      color: rgba(109, 109, 109, 1);
      text-align: right;
      line-height: 20px;

      &__text {
        margin: 20px 0 16px;
      }
    }
  }

  &__picture {
    border-radius: 1.5rem;
    box-shadow: rgb(85 85 85 / 20%) 3px 3px 10px 7px;
    height: 500px;
    background: center/cover no-repeat
      url("../../../../public/static/assets/images/pic/hinh1.jpg");
  }
}
