.love-story {
  &__title {
    font-family: "Cormorant", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(109, 109, 109);
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__body {
    width: 100%;

    .flex-container {
      max-width: 950px;
      margin: 0 auto;
    }

    .card {
      position: relative;
      width: 95%;
      border: none;
      box-shadow: 0px 2px 12px 2px LightGrey;
      border-radius: 20px;

      &-body {
        font-family: "Allura", Arial, Helvetica, sans-serif;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;
        border-radius: 0 0 20px 20px;
        color: white;
        padding-bottom: 4px;

        .milestones {
          font-size: 20px;
          margin: 0;
        }

        .date {
          font-size: 18px;
          margin: 0;
        }
      }

      &-background {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }

    .card-arrow {
      &__left,
      &__right {
        &::after {
          content: " ";
          position: absolute;
          top: 20px;
          z-index: 1;
          width: 20px;
          height: 20px;
          background-color: darkgray;
          // border: medium solid darkgray;
          -webkit-mask: url("../../../../public/static/assets/icon/heart.svg")
            no-repeat center;
          mask: url("../../../../public/static/assets/icon/heart.svg") no-repeat
            center;
        }
      }

      &__left {
        &::after {
          left: unset;
          right: -20px;
          transform: rotate(180deg);
          // border-width: 10px 0 10px 10px;
          // border-color: transparent transparent transparent darkgray;
        }
      }

      &__right {
        &::after {
          left: -20px;
          // border-width: 10px 10px 10px 0;
          // border-color: transparent darkgray transparent transparent;
        }
      }
    }

    .img-container {
      width: 100%;
      height: 350px;
      transition: all 0.4s ease;
      border-radius: 20px;
    }

    .image-1 {
      background: url("../../../../public//static/assets/images/loveStory/1.jpg")
        50% 50% no-repeat;
      background-size: cover;
    }

    .image-2 {
      background: url("../../../../public//static/assets/images/loveStory/2.jpg")
        50% 50% no-repeat;
      background-size: cover;
    }

    .image-3 {
      background: url("../../../../public//static/assets/images/loveStory/3.jpg")
        50% 50% no-repeat;
      background-size: cover;
    }

    .image-4 {
      background: url("../../../../public//static/assets/images/loveStory/4.jpg")
        50% 50% no-repeat;
      background-size: cover;
    }

    .main-timeline {
      position: relative;
    }

    .main-timeline::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 100%;
      border: 1px dashed darkgray;
      top: 0;
      bottom: 100px;
      left: 50%;
      margin-left: -4px;
    }

    .timeline {
      position: relative;
      background-color: inherit;
      width: 50%;

      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }

    .timeline::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      border: 3px solid #f0f2f5;
      outline: 1px solid darkgray;
      right: -8px;
      background-color: darkgray;
      top: 29px;
      border-radius: 50%;
      z-index: 1;
    }

    .left {
      padding: 10px 40px 20px 0px;
      left: 0;
    }

    .right {
      padding: 10px 0px 20px 40px;
      left: 50%;
    }

    .right::after {
      left: -14px;
    }

    @media screen and (max-width: 600px) {
      .main-timeline::after {
        left: 10px;
      }

      .timeline {
        width: 100%;
        padding-left: 40px;
        padding-right: 25px;
      }

      .timeline::before {
        left: 30px;
        border: medium solid darkgray;
        border-width: 10px 10px 10px 0;
        border-color: transparent darkgray transparent transparent;
      }

      .left::after,
      .right::after {
        left: -4px;
      }

      .card-arrow {
        &__left {
          &::after {
            left: -20px;
            right: unset;
            // border-width: 10px 10px 10px 0;
            // border-color: transparent darkgray transparent transparent;
          }
        }
      }

      .right {
        left: 0%;
      }
    }
  }
}
