@font-face {
  font-family: "Great";
  src: url("../assets/fonts/Great/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Allura";
  src: url("../assets/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Meow";
  src: url("../assets/fonts/Meow/MeowScript-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Playfair";
  src: url("../assets/fonts/Playfair/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Playfair";
  src: url("../assets/fonts/Playfair/PlayfairDisplay-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Playfair";
  src: url("../assets/fonts/Playfair/PlayfairDisplay-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant";
  src: url("../assets/fonts/Cormorant/CormorantSC-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant";
  src: url("../assets/fonts/Cormorant/CormorantSC-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Cormorant";
  src: url("../assets/fonts/Cormorant/CormorantSC-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Dancing";
  src: url("../assets/fonts/Dancing/DancingScript-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Dancing";
  src: url("../assets/fonts/Dancing/DancingScript-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Dancing";
  src: url("../assets/fonts/Dancing/DancingScript-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
}
