@import "./variables";
@import "./fonts";
@import "./pages";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Playfair", "Montserrat", Arial, Helvetica, sans-serif;
  color: $black;
  font-weight: $font-regular;
  font-size: $font-size-normal;
  text-align: center;

  min-height: fill-available;
  min-height: -webkit-fill-available;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
