// Section
@import "./album/album.scss";
@import "./banner/banner.scss";
@import "./countdown/countdown.scss";
@import "./introduction/introduction.scss";
@import "./loveStory/love-story.scss";
@import "./other/other.scss";
@import "./yourself/yourself.scss";

.landding-page {
  > section {
    padding: 30px 10px;
  }

  .logo-end {
    width: 65%;
    height: 20px;
    margin: 20px auto;
    background-color: rgba(109, 109, 109, 1);
    -webkit-mask: url("../../../public/static/assets/images/logo-end-section.svg")
      no-repeat center;
    mask: url("../../../public/static/assets/images/logo-end-section.svg")
      no-repeat center;
  }

  // .special-thanks {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;

  //   .image {
  //     width: 120px;
  //     height: 200px;
  //     background: url("../../../public/static/assets/images/handrwan.png") 100%
  //       100% no-repeat;
  //     background-size: contain;
  //   }
  // }
}
