.album {
  &__title {
    font-family: "Cormorant", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: rgba(109, 109, 109, 1);

    text-transform: uppercase;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 20px 0;

    &__item {
      height: 250px;
      border-radius: 8px;
      background-color: bisque;
    }
  }
}
