.countdown {
  padding: 0 !important;
  background: center / cover no-repeat
    url("../../../../public/static/assets/images/banner-intro-mobile.jpg");

  .countdown-wrapper {
    margin: 30px 0;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__content,
  &__address {
    &--button {
      cursor: pointer;
      padding: 10px 20px;
      margin: 0 auto;
      border: none;
      border-radius: 12px;
      display: flex;
      flex-wrap: nowrap;
      gap: 6px;
      align-items: flex-end;

      .icon {
        display: block;
        width: 16px;
        height: 18px;
        background-color: $black;
        opacity: 0.8;
      }

      .text {
        color: $black;
        text-wrap: nowrap;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;

    &--title {
      font-family: "Meow", Arial, Helvetica, sans-serif;
      font-size: $h2-font-size;
      font-weight: $font-regular;
      letter-spacing: 3.6px;
      line-height: 40px;
    }

    &--invitation {
      letter-spacing: 1.6px;
      line-height: 24px;
      tab-size: 4;
      margin-bottom: 0;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__groom,
    &__bride {
      font-family: "Dancing", Arial, Helvetica, sans-serif;
      position: relative;
      background-color: rgba(58, 59, 60, 0.51);
      border-radius: 50px;
      padding: 32px 0;
      overflow: hidden;

      .countdown-clock {
        font-family: "Playfair", Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        margin-bottom: 24px;

        .twodot {
          transform: translateY(-9px);
          font-size: $h2-font-size;
          font-weight: $font-medium;

          &.b-false,
          &.b-old {
            opacity: 0.5;
          }
        }

        .block-container {
          display: flex;
          flex-direction: column;
          gap: 6px;
          align-items: center;
          line-height: 1;

          .b-time {
            width: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1px;
            font-size: $h2-font-size;
            line-height: 32px;
            font-weight: $font-bold;
            border-radius: 8px;
            padding: 6px;

            span {
              display: inline-block;
            }

            &.b-true {
              background-size: cover;
            }

            &.b-false {
              background-size: cover;
              opacity: 0.5;
            }

            &.b-active {
              background-size: cover;
            }
          }

          .time-label {
            font-size: 12px;
            font-weight: $font-medium;
            line-height: 12px;
            text-transform: uppercase;
          }
        }
      }

      > p {
        margin: 0;
      }

      .date,
      .month,
      .year {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1px;
      }

      .day {
        font-size: 50px;
        font-weight: 700;

        span {
          font-size: 25px;
        }
      }
    }

    &__groom,
    &__bride {
      .bg {
        position: absolute;
        width: 100px;
        height: 100px;
        background: center / cover no-repeat
          url("../../../../public/static/assets/images/flower.png");
        filter: invert(70%);
      }

      .bg-top {
        top: 0;
        right: 0;
      }

      .bg-bottom {
        bottom: 0;
        left: 0;
        transform: rotate(180deg);
      }
    }

    &--button {
      font-family: "Playfair", Arial, Helvetica, sans-serif;
      margin-top: 20px;
      background-color: rgba(255, 255, 255, 0.7);
      .icon {
        -webkit-mask: url("../../../../public/static/assets/icon/pin_map.svg")
          no-repeat center;
        mask: url("../../../../public/static/assets/icon/pin_map.svg") no-repeat
          center;
      }
    }

    &--banner {
      border-radius: 50px;
      overflow: hidden;

      .image {
        width: 100%;
        height: 300px;
        background: center / cover no-repeat
          url("../../../../public/static/assets/images/pic/hinh4.jpg");
      }
    }
  }
}
